<body>
        <div *ngIf="selectedAlbum==null">
        <ol>
        <li *ngFor="let album of albumList"> 
        <div class="card-album" (click)="selectParticularAlbum(album.id)">
            Title: {{album.title}} 
             <br>
             <br>
             <div class="card-body" *ngFor="let user of userList">
             <div *ngIf="album.userId==user.id">
            <br>     
            User: {{user.name}}</div>
        </div>
        </div>
        </li>
      </ol>
</div>

    <!-- <div *ngIf="selectedAlbum!=null && selectedPhoto==null">
    <div *ngFor="let photo of photoList">
        <div *ngIf="photo.albumId==selectedAlbum.id">
            <img [src]="photo.thumbnailUrl"  (click)="getParticularPhoto(photo.id)">
        </div>
        <br>
    </div>
</div> -->

<div  class="container-fluid" *ngIf="selectedAlbum!=null && selectedPhoto==null">
    <table class="table">
        <tbody>
            <tr *ngFor="let photo of photoList" >
            <td *ngIf="photo.albumId==selectedAlbum.id"><img class="img-fluid" [src]="photo.thumbnailUrl"  (click)="getParticularPhoto(photo.id)"></td>
            </tr>
        </tbody>
    </table>
</div>

    <div *ngIf="selectedPhoto!=null">
        <div>
                <img [src]="selectedPhoto.url">
        </div>
    </div>
</body>    
