<p>album works!</p>

<div>
    <div class="row">
        <div class="col-md-5" *ngIf="selectedAlbum==null">
            <div class="container-fluid">
    <ol>
        <li *ngFor="let album of albumList"> 
        <div (click)="selectParticularAlbum(album.id)">
             {{album.title}} 
             <span *ngFor="let user of userList">
           <span *ngIf="album.userId==user.id">User:{{user.name}}</span>
             </span> 
            </div>
        </li>
      </ol>
    </div>
</div>

    <div class="col-md-5" *ngIf="selectedAlbum!=null && selectedPhoto==null">
    <div class="card" *ngFor="let photo of photoList">
        <div class="card-body" *ngIf="photo.albumId==selectedAlbum.id">
            <img [src]="photo.thumbnailUrl"  (click)="getParticularPhoto(photo.id)">
        </div>
    </div>
</div>

    <div class="col-md-5" *ngIf="selectedPhoto!=null">
        <div class="card">
            <div class="card-body" >
                <img [src]="selectedPhoto.url">
            </div>
        </div>
    </div>
    
</div>
</div>
